.NO-affiliate-section2-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  padding-inline: 2rem;
}

.NO-affiliate-section2-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.875rem;
  font-weight: 700;
  color: #fff;
}

.NO-affiliate-section2-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.NO-affiliate-section2-content1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
  min-height: 43vh;
}

.NO-affiliate-section2-content1-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.NO-affiliate-section2-content1-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NO-affiliate-section2-content1-right img {
  height: 40vh;
}

.NO-affiliate-cone-light {
  transform: rotate(0deg);
}

.NO-affiliate-cone-dark {
  transform: rotate(-66deg);
}

.NO-affiliate-section2-content2 {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.NO-affiliate-section2-content2-left {
  height: 100%;
  width: 50%;
}

.NO-affiliate-section2-content2-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.NO-affiliate-section2-content3 {
  height: 50vh;
  width: 100%;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.NO-affiliate-cta-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NO-affiliate-section2-content3-decoration-right {
  position: absolute;
  top: 5%;
  right: 10%;
}

.NO-affiliate-section2-content3-decoration-left {
  position: absolute;
  bottom: 0%;
  left: 10%;
}

.NO-affiliate-section2-content3-decoration-right img {
  width: 10vw;
  height: auto;
  transform: rotate(62deg);
}

.NO-affiliate-section2-content3-decoration-left img {
  width: 10vw;
  height: auto;
  transform: rotate(28deg);
}

@media (prefers-color-scheme: light) {
  .NO-affiliate-section2-content h1 {
    color: #121212;
  }

  .NO-affiliate-section2-content h3 {
    color: #121212;
  }
}
