.sidebar-desktop {
  height: 100%;
  display: none;
  background-color: #883cf3;
  padding-inline: 12px;
}

@media (min-width: 768px) {
  .sidebar-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .sidebar-desktop.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
  }

  .sidebar-mobile-trigger {
    display: none;
  }
}

.sidebar-link {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 15px;
  transition: 0.2s ease-out;
  white-space: nowrap;
}

.sidebar-link.active {
  color: #883cf3;
  background-color: #fff;
  border-radius: 5px;
}

.sidebar-link:hover {
  cursor: pointer;
  gap: 20px;
}

.sidebar-link-icon {
  height: 30px;
  width: 30px;
}

.sidebar-link-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-right: 10px;
}

.sidebar-mobile-trigger {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  width: auto;
  background-color: #883cf3;
  padding: 4px;
}

.sidebar-mobile-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-toggle {
  color: #fff;
  height: 35px;
  width: 35px;
}

.sidebar-mobile-overlay {
  position: fixed;
  height: 100%;
  width: 60%;
  background-color: #883cf3;
  display: flex;
  flex-direction: column;
  z-index: 100;
  border-radius: 15px 0px 0px 15px;
}

.sidebar-mobile-close {
  position: absolute;
  padding: 4px;
  right: 10px;
  top: 10px;
}

.sidebar-mobile-close-icon {
  height: 35px;
  width: 35px;
  color: #fff;
}

@media (min-width: 768px) {
  .sidebar-mobile-trigger {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    gap: 15px;
    transition: 0.2s ease-out;
    width: 90%;
  }

  .sidebar-link.active {
    color: #883cf3;
    background-color: #fff;
    border-radius: 5px;
  }

  .sidebar-link:hover {
    cursor: pointer;
    gap: 20px;
  }

  .sidebar-link-icon {
    height: 40px;
    width: 40px;
  }

  .sidebar-link-text {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-right: 10px;
    font-size: 20px;
  }
}
