@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
}

.modal {
  position: relative;
  background-color: #121212;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #883cf3;
  transition: 0.1s ease-out;
}

.modal-close-icon:hover {
  scale: 1.05;
  cursor: pointer;
}

.modal h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.input-field {
  font-size: 1rem;
  border-radius: 7px;
  outline: none;
  transition: border-color 0.2s;
  width: 100%;
  padding-block: 7px;
  text-indent: 7px;
  border: 2px solid #121212;
  font-family: "Inter", sans-serif;
}

.input-field:focus {
  border: solid 2px #883cf3;
}

.input-field::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #8d8d8d;
}

.password-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translate(0%, -50%);
  color: #8d8d8d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal button {
  padding: 0.75rem;
  padding-inline: 3rem;
  font-size: 1rem;
  border: none;
  background-color: #fff;
  color: #883cf3;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modal button:hover {
  background-color: #e3e3e3;
}

.toggle-link {
  text-align: center;
  margin-top: 1rem;
  color: #883cf3;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.password-error {
  font-size: 0.8rem;
  color: red;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

.remember-me-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.remember-me-text {
  flex: 1;
}

.remember-me-checkbox {
  display: flex;
  width: 10%;
}

.remember-me-checkbox:checked {
  accent-color: #883cf3;
}

@media (prefers-color-scheme: light) {
  .modal {
    background-color: #fff;
    color: #121212;
  }

  .input-field {
    border: 2px solid #883cf3;
  }

  .input-field:focus {
    background-color: #ededed;
  }

  .modal button {
    background-color: #883cf3;
    color: #fff;
  }

  .modal button:hover {
    background-color: #fff;
    color: #883cf3;
  }
}
